*{
    margin: 0px;
    padding: 0px;
}
.class1{
    border: solid 1px gray;
    width: 600px;
    height: 400px;
    background-color:#A9F5F2 ;
}
.class2{
    border: solid 1px gray;
    margin: 25px;
    width: 550px;
    height: 350px;
    background-color: white;
}
.headtext{
    margin: 5px;
    background-color: tomato;
    text-align: center;
    font-weight: bold;
    border: solid 1px gray;
}
label{
    display: inline-block;
    color: blue;
    width: 100px;
    text-align: right;
}

.box{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.sothich{
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 20px;
}
span{
    width: 80px;
    display: inline-block;
}
.button{
    text-align: center;
}