*{
    margin-top: 10px;
    margin-bottom: 10px ;
}
select{
    width: 200px;
}
.data{
    text-align: center;
    width: 100px;
}
table,td,tr{
    border: solid 2px #ddd;
    border-collapse: collapse;
}
tr:nth-child(odd) {background-color: #f2f2f2;}
#submit{
    padding: 10px;
    margin-left: 500px;
    margin-top: 20px;
    border-radius: 20%;
}

div:hover{
 background-color: #fff7c0;
 border: solid 2px gray;
}

h1{
    border-top: solid 5px gray;
}

p{
    border-bottom: solid 2px gray;
    padding-bottom: 10px;
}
.div1:hover .hide{
    display: block;
    border: none;    
}
.hide:hover {
    display: block;
    border: none;
}
.hide{
    display: none;
}
.div1:hover{
    border: none;
}